<!DOCTYPE html>
<html>

<head>
  <title>Checkout</title>
  <link rel="stylesheet" type="text/css" href="main.css">
  <link rel="stylesheet" type="text/css" href="checkout.css">
  <link rel="stylesheet" type="text/css" href="index.css">
</head>

<body class="container">
  <div class="header">
    <a class="nav-button" href="/home">Home</a>
  </div>

  <div class="list-wrapper" id="cart">
    <h2 class="list-heading">Cart</h2>
    <ul class="all-item-list">
      <% if(cart) { %>
      <% var total = 0; %>
      <% for(var i = 0; i < cart.length; i++) { %>
      <li class="list-entry">
        <%= cart[i].productname %><br>
        <%= (cart[i].price/100).toFixed(2)%>€<br>
        <%= cart[i].quantity %>x<br>
        <% total += cart[i].price * cart[i].quantity; %>
      </li>
      <%}%>
      <p class="list-entry">Your total is
        <%= (total/100).toFixed(2) %>€</p>
      <%} else {%>
      <p>Your cart is empty.</p>
      <%}%>

      <form class="user-box" action="checkout" method="post">
        <input type="text" name="name" placeholder="Name">
        <input type="text" name="country" placeholder="Country">
        <input type="text" name="city" placeholder="City">
        <input type="text" name="street" placeholder="Street">
        <input type="text" name="info" placeholder="Additional info">
        <button class="nav-button" type="submit" name="button">Checkout</button>
      </form>
    </ul>

  </div>
</body>

</html>