<!DOCTYPE html>
<html>

<head>
  <title>Checkout</title>
  <link rel="stylesheet" type="text/css" href="main.css">
  <link rel="stylesheet" type="text/css" href="checkout.css">
  <link rel="stylesheet" type="text/css" href="index.css">
</head>

<body class="container">
  <div class="header">
    <a class="nav-button" href="/home">Home</a>
  </div>

  <div class="list-wrapper" id="cart">
    <h2 class="list-heading">Cart</h2>
    <ul class="all-item-list">
      <% if(cart == [] || typeof cart == "undefined" || !cart) { %>
      <%= "Your cart is empty." %>
      <%} else {%>
      <% for(var i = 0; i < cart.length; i++) { %>
      <li class="list-entry">
        <%= cart[i].productname %><br>
        <%= cart[i].price %><br>
        <%= cart[i].quantity %><br>
      </li>
      <%}%>
      <%}%>
    </ul>
  </div>
</body>

</html>