<!DOCTYPE html>
<html>
  <head>
    <title>Checkout</title>
    <link rel="stylesheet" type="text/css" href="main.css">
  </head>
  <body class="container">
    <div class="header">
      <a class="nav-button" href="/home">Home</a>
    </div>
    
  </body>
</html>
