<!DOCTYPE html>
<html>

<head>
  <title>Error</title>
  <link rel="stylesheet" type="text/css" href="main.css">
  <link rel="stylesheet" type="text/css" href="error.css">
</head>

<body class="container">
  <div class="header">
    <div class="icon">
      <a href="/home">
        <img src="bumblebuyIcon.svg" width="70" height="70" alt="Your browser can't display this image!" href="/home">
      </a>
    </div>
    <a href="/home">
      <h1 id="pagename">Bumblebuy</h1>
    </a>
    <div class="header-content">
      <a class="nav-button" href="/home">Home</a>
    </div>
  </div>
  <div class="content-box gen-wrapper">
    <h1>Something went wrong!</h1>
    <p>
      <%= msg%>
    </p>
    <a class="nav-button" href="/login">Login</a>
    <a class="nav-button" href="/registration">Registration</a>
  </div>
</body>

</html>