<!DOCTYPE html>
<html>
    <head>
        <title>Home</title>
        <link rel="stylesheet" type="text/css" href="main.css">
        <link rel="stylesheet" type="text/css" href="list.css">
    </head>
    <body class = "container">
      <div class= "all-item-list">
        <ul class= "all-item-list">
          <div class = "list-heading">Show items here</div>
          <li class = "list-entry">test</li>
          <li class = "list-entry">test</li>
          <li class = "list-entry">test</li>
        </ul>
      </div>
    </body>
</html>
