<html>
  <head>
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="main.css">
  </head>
  <body>
    Login
    <form action="/navigation" method="POST">
      <button class="nav-button" type="submit" value="/home" name="goTo">Home</button>
    </form>
  </body>
</html>
