<!DOCTYPE html>
<html>

<head>
  <title>Login</title>
  <link rel="stylesheet" type="text/css" href="main.css">
  <link rel="stylesheet" type="text/css" href="login.css">
</head>

<body class="container">
  <div class="header">
    <div class="icon">
      <img src="bumblebuyIcon.svg" width="70" height="70" alt="Your browser can't display this image!" href="/home">
    </div>
    <h1 id="pagename">Bumblebuy</h1>
    <div class="header-content">
      <a class="nav-button" href="/home">Home</a>
    </div>
  </div>

  <div class="user-box gen-wrapper">
    <form action="/login" method="POST">
      <input type="text" name="name" placeholder="Username">
      <input type="password" name="pw" placeholder="Password">
      <button class="nav-button" type="submit">Login</button>
      <a class="nav-button" href="/registration">Don't have an account yet?</a>
    </form>
  </div>
</body>

</html>