<!DOCTYPE html>
<html>
    <head>
        <title>Success</title>
        <link rel="stylesheet" type="text/css" href="main.css">
        <link rel="stylesheet" type="text/css" href="success.css">
    </head>
    <body class="container">
      <div class="header">
        <a class="nav-button" href="/home">Home</a>
      </div>

      <div class="content-box gen-wrapper">
        <h1>Successfully logged out</h1>
      </div>
    </body>
</html>
