<html>
    <head>
        <title>Success</title>
    </head>
    <body>
        <p>You successfully logged in!</p>
        <p>User: <%= user%></p><br>
        <a href="\login">Log out</a><br>
        <form action="delete" method="post">
            
            <input type="submit" value="Delete account" name="submit">
        </form>
    </body>
</html>