<html>
    <head>
        <title>Erfolg</title>
    </head>
    <body>
        <p>Du bist erfolgreich angemeldet!</p>
        <p>User: <%= user%></p><br>
        <a href="\login">Log out</a><br>
        <form action="delete" method="post">
            
            <input type="submit" value="Account löschen" name="submit">
        </form>
    </body>
</html>