<!DOCTYPE html>
<html>
    <head>
        <title>Success</title>
        <link rel="stylesheet" type="text/css" href="main.css">
        <link rel="stylesheet" type="text/css" href="success.css">
    </head>
    <body class="container">
      <div class="header">
        <a class="nav-button" href="/home">Home</a>
      </div>

      <div class="content-box">
        <h1>Welcome <%= user%>!</h1>
        <a class="nav-button" href="\logout">Log out</a>    
        <a class="nav-button" type="submit" href="/delete">Delete account</a>
      </div>
    </body>
</html>
