.middle-box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.list-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 15px;
  padding: 20px;
  border-radius: 15px;
  background-color: #F3BF04;
}

.all-item-list {
  display: flex;
  flex-direction: column;
  list-style-type: none;
}

.list-heading {
  align-items: center;
  font-size: 2rem;
}

.list-entry {
  display: flex;
  flex-direction: row;
  background-color: #FDDA5E;
  border-radius: 15px;
  font-size: 1.3rem;
  margin: 5px;
  padding: 5px;
}

.list-entry .left {
  flex: 3;
  padding: 10px;
}

.list-entry img {
  flex: 2;
  height: 100px;
  width: 100px;
}

#all-items {
  flex: 3;
}

#cart {
  flex: 2;
}

.add-button {
  height: 40px;
  color: #FDDA5E;
  background-color: #2E2608;
  border: none;
  border-radius: 15px;
  padding: 5px;
  margin: 10px;
  font-size: 16px;
  font-family: Helvetica, sans-serif;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.navigation {
  display: none;
  position: absolute;
  background-color: #F3BF04;
  min-width: 100%;
  overflow: auto;
  width: 10rem;
  height: 10rem;
  box-shadow: 16px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.nav-menu-button {
  background-color: #2E2608;
  font-family: "OpenSans", sans-serif;
  font-size: 1.2rem;
  color: #FDDA5E;
  border: 3px #2E2608 solid;
  border-radius: 15px;
  margin: 10px;
  padding: 5px;
  cursor: pointer;
  transition: border-color 0.8s ease;
  display: block;
  overflow: visible;
}

.nav-menu-button:hover {
  border-color: #FDDA5E
}

.show {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.search-bar-input {
  width: 400px;
  height: 20px;
  margin-top: 0.7rem;
  padding: 5px;
  overflow: auto;
  background-color: #FDDA5E;
  border: none;
  border-radius: 15px;
  transition: background-color 0.8s ease;
}

.search-bar-input:focus {
  background-color: #FFF;
}

#file-upload {
  display: none;
  cursor: pointer;
}

.nav-button .container {
  align-items: center;
}