.all-item-list {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
  
  list-style-type: none;
}

.list-heading {
  align-items: center;
  font-size: 2rem;
}

.list-entry {
  font-size: 1.3rem;
}
