html {
  font-size: 100%;
  font-family: "Helvetica", "Open Sans", sans-serif;
  background-color: #1a1a00;
}

a {
  text-decoration: none;
  color: black;
}

.container {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  margin: 0px;
}

.header {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  min-width: 100% overflow:auto;
  margin: 0;
  padding: 5px;
  background-color: #F3BF04;
  margin-bottom: 5px;
}

.nav-button {
  background-color: #2E2608;
  font-family: "OpenSans", sans-serif;
  font-size: 1.2rem;
  color: #FDDA5E;
  border: 2px solid #2E2608;
  border-radius: 13px;
  margin: 10px;
  padding: 5px;
  cursor: pointer;
  transition: border-color 0.8s ease;
}

.nav-button:hover {
  border-color: #FDDA5E;
}

.content-box {
  margin: auto;
  background-color: #F3BF04;
}

.user-box {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  margin-top: 15px;
  background-color: #F3BF04;
}

.user-box input {
  background-color: #FDDA5E;
  margin: 10px;
  padding: 7px;
  border: 2px solid #000;
  border-radius: 15px;
  transition: background-color 0.8s ease;
}

.user-box input:focus {
  background-color: #FFF;
}

.user-box button {
  display: block;
}

.list-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 15px;
  padding: 20px;
  border-radius: 15px;
  background-color: #F3BF04;
}

.gen-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 15px;
  padding: 20px;
  border-radius: 15px;
  background-color: #F3BF04;
}

.all-item-list {
  display: flex;
  flex-direction: column;
  list-style-type: none;
}

.list-heading {
  align-items: center;
  font-size: 2rem;
}

.list-entry {
  display: flex;
  flex-direction: row;
  background-color: #FDDA5E;
  border-radius: 15px;
  font-size: 1.3rem;
  margin: 5px;
  padding: 5px;
}
