html {
  font-size: 100%;
  font-family: "Helvetica", sans-serif;
  background-color: #FFF;
}

.container {
  display:flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}

.header {
  display:flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  min-width: 100%
  overflow:auto;

  background-color: #F3BF04;

  margin-bottom: 5px;
}

.nav-button {
  background-color: #fff;

  font-family: "OpenSans", sans-serif;
  font-size: 1.2rem;

  border: 1px solid black;
  border-radius: 3px;

  margin: 0.5rem;

  padding: 0.3rem;

  transition: background 0.4s ease;
}

.nav-button:hover {
  background: #FDDA5E;
}
